!*docker*
!*Docker*
!*DOCKER*
*.xlsx
*.xlsm
*.xlsb
*.xls
*.csv
*.txt
!proxies*.txt
*.mdb
*.accdb
*.zip
*.rar
*.7z
*.7Z
*.sql
*.doc
*.docx
FilesData
debug
release
Debug
Release
Makefile
*.Debug
*.Release
*.stash
*.stash
build*
Build*
build/*
Build/*
*.pro.user*
\GoodData
*.*~
*.swp
*.autosave
*.DS_Store
*.jpg
*.bmp
*.jpeg
packages/
packages/*
tessdata/
tessdata/*
*.xml
*.dll
Bitbacket
Bitbacket/
.vscode/
*.db
*.log
.directory
*.html
*.mhtml
telegram_bot/*.json
__pycache__/
__pycache__

